@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Top Post Testing View Components</h1>
    
    //
    @await Component.InvokeAsync("TopPost")

    @await Component.InvokeAsync("Test")
</div>
