@model IEnumerable<Final_Project_Implements.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1>TestNews</h1>
    <div class="row row-cols-sm-2 row-cols-md-4 row-cols-lg-4 row-cols-lg-4">
        @foreach (var item in Model)
        {
        <div class="col">
            @if(item.MediaTypeEnum == Final_Project_Implements.Enum.MediaTypeEnum.Image)
            {
            <p>@item.Title</p>
            <img src="@item.ImageUrl" height="100" />
            }
        </div>
        }
    </div>
    
        
    
    <h1>ImageNews</h1>
    @foreach (var item in Model)
    {
        if (item.MediaTypeEnum == Final_Project_Implements.Enum.MediaTypeEnum.Video)
        {
            <p>@item.Title</p>
            <img src="@item.ImageUrl" height="200" />
        }
    }


    @await Component.InvokeAsync("Test")

</div>
